@page
@model Content_Management_System.Pages.LoginModel
@{
}

<h2>Login</h2>

<form method="post">
    <div>
        <label>Email</label>
        <input type="text" name="Email" placeholder="Email" value="@Model.Email"/>
        @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="Password" placeholder="Password" value="@Model.Password"/>
        @Html.ValidationMessage("Password", "", new { @class = "text-danger" })
    </div>
    <button type="submit">Login</button>
</form>