.app-sidebar{
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    background: #fff;
    width: 260px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.app-sidebar ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.app-sidebar a {
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    text-decoration: none !important;
}

.app-sidebar a:hover {
    text-decoration: none !important;
    background: #eee;
}

.app-sidebar .logo{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.app-sidebar .logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.nav-text{
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

.app-sidebar .fas{
    margin-right: 10px;
    font-size: 18px;
}

.app-sidebar .nav-item{
    margin-left: 0;
}

.app-sidebar .logout{
    width: 100%;
}

.app-sidebar .account-settings {
    width: 100%;
}

.dropdown-menu {
    z-index: 101;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    min-width: 200px;
}

